@import url("https://fonts.googleapis.com/css?family=Molle:400i&display=swap");
@import "./pages/Home.scss";
@import "./components/Dog-Images/Images.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Molle", cursive;
}
